
<div class="col-xs-6 well">
  <h3>Shoes</h3>
  <p>In the shoes area you can manage your available shoes- add new styles and prices, add shoes to a store, and see which stores are selling each shoe.</p>
  <a href="/shoes"><button type="button" class="btn btn-block btn-lg">Go to Shoes!</button></a>
</div>
<div class="col-xs-6 well">
  <h3>Stores</h3>
  <p>In the stores area you can manage your customers- add new store, add shoes to a store, see which shoes the store is selling.</p>
  <a href="/stores"><button type="button" class="btn btn-block btn-lg">Go to Stores!</button></a>
</div>
