<!DOCTYPE html>
<html>
  <head>
    <title>Treads</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Treads Distribution</h1>
        <p>Welcome to your distribution tracker!</p>
      </div>
      <div class='navbar'>
        <ul class='nav nav-tabs'>
          <li><a href='/'>Main Page</a></li>
          <li><a href='/shoes'>Shoes Home</a></li>
          <li><a href='/stores'>Stores Home</a></li>
        </ul>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
