<h1>Stores Home</h1>
<div class="col-xs-4">
  <%if @stores.any?%>
      <h3>All Stores:</h3>
      <p>Click on any store to view/edit.</p>
      <% @stores.each() do |store|%>
        <a href="/store/<%= store.id %>"><%= store.name() %></a>
        <br>
      <% end %>
    <% else %>
      <h3>You don't have any stores yet!</h3>
    <% end %>
</div>

<div class="col-xs-8">
  <h4>Add a store</h4>
  <form action="/store" method="post">
    <div class="form_group">
      <label for="name">Store Name:</label>
      <br>
      <input type="text" name="name">
      <br>
      <label for="desc">Store Description:</label>
      <textarea class="form-control" name="desc" rows="3"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-block">Add Store</button>
  </form>
</div>
